In [38]:
import pandas as pd
import numpy as np

In [39]:
data = pd.read_csv('C:/Users/nazih/Desktop/E-commerce-Product-Recommender/marketing_sample_for_walmart_com-walmart_com_product_review__20200701_20201231__5k_data.tsv', sep='\t')

In [40]:
data.head(5)

,Uniq Id,Crawl Timestamp,Dataset Origin,Product Id,Product Barcode,Product Company Type Source,Product Brand Source,Product Brand Normalised Source,Product Name Source,Match Rank,...,Product Currency,Product Available Inventory,Product Image Url,Product Model Number,Product Tags,Product Contents,Product Rating,Product Reviews Count,Bsr,Joining Key
0,1705736792d82aa2f2d3caf1c07c53f4,2020-09-24 03:21:12 +0000,NaN,2e17bf4acecdece67fc00f07ad62c910,NaN,Competitor,NaN,NaN,NaN,NaN,...,USD,111111111,https://i5.walmartimages.com/asr/0e1f4c51-c1a4...,NaN,"OPI Infinite Shine, Nail Lacquer Nail Polish, ...",NaN,NaN,NaN,NaN,81350af1be98d3753cf964709f0c766a
1,95a9fe6f4810fcfc7ff244fd06784f11,2020-10-30 14:04:08 +0000,NaN,076e5854a62dd283c253d6bae415af1f,NaN,Competitor,NaN,NaN,NaN,NaN,...,USD,111111111,https://i5.walmartimages.com/asr/9c8e42e4-13a5...,NaN,"Nice 'n Easy Permanent Color, 111 Natural Medi...",NaN,NaN,NaN,NaN,0353e63907dc0de0c734db4690300057
2,8d4d0330178d3ed181b15a4102b287f2,2020-08-06 05:51:47 +0000,NaN,8a4fe5d9c7a6ed26cc44d785a454b124,NaN,Competitor,NaN,NaN,NaN,NaN,...,USD,111111111,https://i5.walmartimages.com/asr/e3a601c2-6a2b...,NaN,Clairol Nice 'N Easy Permanent Color 7/106A Na...,NaN,4.5,29221.0,NaN,b6985c8e94815fbca2319dbb8bf228af
3,fddc4df45b35efd886794b261f730c51,2020-07-15 11:22:04 +0000,NaN,03b5fb878a33eadff8b033419eab9669,NaN,Competitor,NaN,NaN,NaN,NaN,...,USD,111111111,https://i5.walmartimages.com/asr/25b4b467-bc61...,NaN,"Kokie Professional Matte Lipstick, Hot Berry, ...",NaN,NaN,NaN,NaN,85b70fded09186f00467cea2f935b779
4,0990cf89a59ca6a0460349a3e4f51d42,2020-11-26T12:27:20+00:00,NaN,ce3d761e57d6ccad80619297b5b1bcbc,NaN,Competitor,NaN,NaN,NaN,NaN,...,USD,111111111,https://i5.walmartimages.com/asr/1a2ebb06-cd01...,NaN,"Gillette TRAC II Plus Razor Blade Refills, Fit...",NaN,NaN,131.0,NaN,41c870871328e97da6fb036bb7d4b2da

In [41]:
data.isnull().sum()

Uniq Id                               0
Crawl Timestamp                       0
Dataset Origin                     5000
Product Id                            0
Product Barcode                    5000
Product Company Type Source           0
Product Brand Source               4861
Product Brand Normalised Source    4861
Product Name Source                4861
Match Rank                         5000
Match Score                        5000
Match Type                         5000
Retailer                              0
Product Category                     10
Product Brand                        13
Product Name                          0
Product Price                        42
Sku                                5000
Upc                                5000
Product Url                           0
Market                                0
Product Description                1127
Product Currency                      0
Product Available Inventory           0
Product Image Url                     0
Product Model Number               5000
Product Tags                          0
Product Contents                   5000
Product Rating                     2806
Product Reviews Count              1654
Bsr                                5000
Joining Key                           0
dtype: int64

In [42]:
data.shape

(5000, 32)

In [43]:
df = data.copy()
df.drop(columns=['Dataset Origin', 'Product Barcode', 'Bsr', 'Upc', 'Sku'] , inplace=True)

In [44]:
df.shape

(5000, 27)

In [45]:
df.describe()

,Match Rank,Match Score,Match Type,Product Price,Product Available Inventory,Product Model Number,Product Contents,Product Rating,Product Reviews Count
count,0.0,0.0,0.0,4958.000000,5000.0,0.0,0.0,2194.000000,3346.000000
mean,NaN,NaN,NaN,23.364425,111111111.0,NaN,NaN,4.294622,571.035565
std,NaN,NaN,NaN,35.182204,0.0,NaN,NaN,0.773311,2485.699363
min,NaN,NaN,NaN,0.100000,111111111.0,NaN,NaN,1.000000,1.000000
25%,NaN,NaN,NaN,8.400000,111111111.0,NaN,NaN,4.000000,3.000000
50%,NaN,NaN,NaN,14.950000,111111111.0,NaN,NaN,4.500000,20.000000
75%,NaN,NaN,NaN,26.007500,111111111.0,NaN,NaN,4.800000,170.000000
max,NaN,NaN,NaN,722.450000,111111111.0,NaN,NaN,5.000000,29242.000000

In [46]:
# Check for missing values
print(df.isnull().sum())

Uniq Id                               0
Crawl Timestamp                       0
Product Id                            0
Product Company Type Source           0
Product Brand Source               4861
Product Brand Normalised Source    4861
Product Name Source                4861
Match Rank                         5000
Match Score                        5000
Match Type                         5000
Retailer                              0
Product Category                     10
Product Brand                        13
Product Name                          0
Product Price                        42
Product Url                           0
Market                                0
Product Description                1127
Product Currency                      0
Product Available Inventory           0
Product Image Url                     0
Product Model Number               5000
Product Tags                          0
Product Contents                   5000
Product Rating                     2806
Product Reviews Count              1654
Joining Key                           0
dtype: int64

In [47]:
# Drop rows where Product Description is missing
df = df.dropna(subset=['Product Description'])

# Impute missing numerical values with median (or 0 if preferred)
df['Product Rating'] = df['Product Rating'].fillna(df['Product Rating'].median())
df['Product Reviews Count'] = df['Product Reviews Count'].fillna(0)

In [48]:

# Verify no missing values remain in key columns
print(df[['Product Description', 'Product Rating', 'Product Reviews Count']].isnull().sum())

Product Description      0
Product Rating           0
Product Reviews Count    0
dtype: int64

In [49]:
print(df.isnull().sum())

Uniq Id                               0
Crawl Timestamp                       0
Product Id                            0
Product Company Type Source           0
Product Brand Source               3737
Product Brand Normalised Source    3737
Product Name Source                3737
Match Rank                         3873
Match Score                        3873
Match Type                         3873
Retailer                              0
Product Category                     10
Product Brand                        13
Product Name                          0
Product Price                        39
Product Url                           0
Market                                0
Product Description                   0
Product Currency                      0
Product Available Inventory           0
Product Image Url                     0
Product Model Number               3873
Product Tags                          0
Product Contents                   3873
Product Rating                        0
Product Reviews Count                 0
Joining Key                           0
dtype: int64